<header>
  <nav class="navbar">
    
    <ul>
      <li>
        <img class="svglogo" src = "./logo/logosvg.svg" alt="My Happy SVG"/>
      </li>
      <li class="nav-items"><a href="/">
        Home
      </a></li>
      <li class="nav-items"><a href="/about">
        About
      </a></li>
      <li class="nav-items"><a href="/blog">
        Blog
      </a></li>
      <li class="nav-items"><a href="/blogshow">
        Blog Show
      </a></li>
      <li class="nav-items"><a href="contact">
        Contact Us
      </a></li>
      <div class="search">
        <input type="text"name="search" id="search" placeholder="Search this website">
      </div>
    </ul>

  </nav>
</header>