<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Watchout</title>
  <link rel="icon" type="image/x-icon" href="/logo/New folder (7)/10.png">
</head>
<body>
   <%- include("partials/header")%>
  <h1>Watchout!</h1>
  <nav>
    <!-- <img class="svglogo" src = "./logo/logosvg.svg" alt="My Happy SVG"/> -->
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Blog</li>
      <li>Shop</li>
      <li>Search</li>
      <li>account</li>
      <li>Cart</li>
    </ul>
  </nav>

  <h2 class="welcome-msg fsize" >Where Luxury Meets Affordability: Watch Out Watches.</h2>
  <!-- <h2 class="welcome-msg">A lifestyle brand for modern living.</h2> -->
  <div class="image"><img src="./images/Naviforce-9197-L-Silver-Green-jpg.webp" alt=""><p>best watch</p></div>
  <button>buy</button>
  <button>more info</button>
  
</body>
</html>